[Unit]
Description=__PROJECT_NAME__ Django (Gunicorn)
After=network.target

[Service]
Type=notify
User=ubuntu
RuntimeDirectory=gunicorn
WorkingDirectory=/opt/projects/__PROJECT_NAME__/backend
Environment="DJANGO_SETTINGS_MODULE=config.settings.prod"
EnvironmentFile=/opt/projects/__PROJECT_NAME__/.env
ExecStart=/opt/projects/__PROJECT_NAME__/backend/venv/bin/gunicorn \
    -c gunicorn.conf.py \
    config.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
