[Unit]
Description=__PROJECT_NAME__ RQ Worker 1 (default queue)
After=network.target redis.service

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/opt/projects/__PROJECT_NAME__/backend
Environment="DJANGO_SETTINGS_MODULE=config.settings.prod"
EnvironmentFile=/opt/projects/__PROJECT_NAME__/.env
ExecStart=/opt/projects/__PROJECT_NAME__/backend/venv/bin/python manage.py rqworker default \
    --worker-ttl 420
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
